*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background: #131313;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; /* 1 rem sama dengan 16 pixel secara default*/
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;   
}

.navbar__logo h1{
    background-color: #ffff;
    background-image: linear-gradient(to left, #ec5b30 0%,#f5c2b3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.logo img {
    width: 100px;
    height: auto;
}
.navbar__logo h2{
    background-color: #ffff;
    background-image: linear-gradient(to left, #ec5b30 0%,#f5c2b3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}


.fa-gem{
    margin-right: 0.5 rem;
}

.navbar__menu{
    display: flex;
    align-items: items;
    list-style: none;
    text-align: center;
}
.navbar__item{
    height: 80px;
}

.navbar__links{
    color : #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition: color 0.3s ease;
}
.navbar__links:hover {
    color: #f77062;
    transform: scale(1.1); /* Memperbesar sedikit saat hover */
    transition: all 0.3s ease; /* Transisi untuk semua properti */
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius:4px ;
    background: #f77862;
    color : #fff;
    transition: background 0.3s ease, transform 0.2s ease;
}

.button:hover{
    background : #4837ff;
    transition: all 0.3s ease;
    transform: scale(1.05);
}
.navbar__links:hover{
    color: #f77062;
    transition: all 0.3s ease
}

/*buat responsif */
@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
        background: #131313;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute ;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
        background: #131313;
       
    }
    

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    
    }

    #navbar__logo{
        padding-left: 25px;
    }

    #navbar__subtitle{
        padding-left: 40px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        
    }

    .navbar__item{
        width: 100%;
    }
    .navbar__links{
        text-align: center;
        padding: 2rem;
        width:100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    
    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translate(8px) translate(45deg);
    }

    
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translate(-8px) translate(-45deg);
    }    
}

/* Hero section css */

.main{
    background-color: #FF8A63;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    width: 100%;
    max-width: 1300px; 
    padding: 0 20px;
    padding-bottom: 40px; 
    opacity: 0; /* Awalnya tidak terlihat */
    transform: translateY(20px); /* Geser ke bawah */
    transition: opacity 0.5s ease, transform 10s ease;
}
.main__container.visible {
    opacity: 1; /* Menjadi terlihat */
    transform: translateY(0); /* Kembali ke posisi normal */
}

.main__content h1{
    font-size: 4rem;
    background-color: #941711;
    /* background-image: linear-gradient(to top, #ff0844 0%, #FF8A63 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

#main__img{
    width: 100%;
    height: auto;
}
.main__content h2{
    font-size: 4rem;
    background-color: #941711;
    /* background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p{
    margin-top: 1 rem;
    font-size: 2 rem;
    font-weight: 700;
    background-color: white;
     -webkit-background-clip: text;
    -moz-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    -moz-text-fill-color: transparent;
}

.main__btn{
    font-size: 1 rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe51fe 100%);
    padding: 14px 32px;
    border : none;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
    cursor:pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none ;
}

.main__btn:after{
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;

}

.main__btn:hover{
    color: white;
}
.main__btn:hover:after{
    width: 100%;
}

.main__img--container{
    text-align: center;

    background: transparent;
    padding: 0;
   
}

#main__img{
    height: 80%;
    width: 80%;
}

/* buat resposif section */
@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center ;
        justify-content: center;
        width:100%;
        margin: 0 auto;
        height: 160vh;   
    }
    .main__content{
        text-align: left;
        margin-bottom: 4rem;
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem; 
    }

    .main__content h2{
        font-size: 3rem;
    }
    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1{
        font-size: 2 rem;
        margin-top: 3 rem;
    }

    .main__content h2{
        font-size: 2rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size:1.5rem;
    }
 
    .main__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;

    }
}

/* Services section CSS */
.services{
    background:#941711;
    display: grid;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.services h1{
    background-color: #ff8177;
    background-image: linear-gradient(f
        to right, 
        #ff8177 0%, 
        #ff867a 0%, 
        #ff8c7f 21%, 
        #f99185 52%, 
        #cf556c 78%, 
        #b12a5b 100% ,
        );
        background-size: 100%;
        /* margin-bottom: 5rem; */
        font-size: 2.5rem;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        justify-self: end;
        margin-right: 2rem;
        align-self: start;
        margin-top: 1rem;
        border: 2px solid white; /* Menambahkan border putih */
        padding: 10px 20px; /* Menambahkan jarak di dalam border */
        border-radius: 10px;
        box-shadow: 0px 8px 20px rgba(0, 0, 10, 0.5);
    }
    
.services h3{
    background-color: white;
    background-size: 100%;
        /* margin-bottom: 5rem; */
    font-size: 1.2rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    justify-self: end;
    margin-right: 1.5rem;
    align-self: start;
    margin-top:1rem;
    grid-row: 2;
    padding-left: 100px;
    text-align: center;
}

.services__container{
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.services__container > div {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease; 
}

.services__container > div.visible {
    opacity: 1; 
    transform: translateY(0);
}

.services__container video{
    max-width: 100%;
    height: auto;
    justify-self: start;
    margin-left: 2rem;
    border: 5px solid #ffffff; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /
}

.right-section {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-gap: 20px; /* Adds space between the columns */
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-self: center;
    margin-right: 1.5rem;
    align-self: end;
    margin-top:1rem;
    grid-row: 2;
    padding-left: 40px;
    text-align: center;
}

.event-card {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    
}

.event-card img {
    max-width: 100%;
    border-radius: 10px;
}
.info {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 10px; 
    padding: 10px;

}

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #912121;
    padding: 20px;
    margin-top: 40px;
}

.footer-item {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.animated-text,
.animated-image,
.animated-video {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.visible {
    opacity: 1; 
    transform: translateY(0); 
}


/* responsif services */
@media screen and (max-width: 768px) {
    .services {
        display: grid;
        grid-template-columns: auto;
        align-items: center ;
        justify-content: center;
        width:100%;
        margin: 0 auto;
        height: 200vh;  
    }

    #services__container video {
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
        padding-right: 1;
    }
    .services__container,
    .services__card {
        width: 100%; 
        max-width: 95%; 
        margin-bottom: 20px; 
    }

    .services__container h3{
        text-align: left;
        padding-right: 0.5rem;
        justify-self: start;
        margin-left: 2rem;
    }

    video {
        width: 100%; 
        height: auto;
        display: inline-block;  
    }
}
